@charset "UTF-8";
.campo-input {
    width: 200px; /* Defina o tamanho desejado */
    height: 30px; /* Defina a altura desejada */
    /* Outras propriedades de estilo conforme necessário */
}

.botao-enviar {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Adiciona espaço interno ao botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    /* Outras propriedades de estilo conforme necessário */
}
